* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #aaa;
    font-family: Arial, serif;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: aliceblue;
    text-transform: uppercase;
}

textarea {
    width: 100%;
    padding: 20px;
    display: block;
    border-radius: 15px;
    background-color: #fff;
    resize: none;
}

textarea:focus {
    outline: none;
    box-shadow: 5px 5px 15px #414141;
    border-radius: 15px;
}

input[title=speed] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: block;
    width: 60px;
    margin: 0 10px;
}

input[title=secret-word] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin: 0 10px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    margin-top: 10px;
    padding: 0 5px;
}

.inputs {
    width: 400px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.speed-text-container {
    width: 600px;
    height: 600px;
    background-color: #c9b792;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    margin: 0 auto;
    border: 2px solid #a38762;
    border-radius: 20px;
    box-shadow: 3px 3px 15px #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    z-index: 500;
}

.hide {
    display: none;
}